* {
    margin    : 0%;
    padding   : 0;
    box-sizing: border-box;
    outline   : transparent;
}

html {
    font-family   : 'metropolisregular';
    font-weight   : 400;
    letter-spacing: -.005em;
    font-kerning  : normal;
    font-size     : 16px;
    color         : #343741;
}

body {
    font-size  : 1rem;
    line-height: 1.5rem;
}


.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.red {
    color: #f25850;
}

.responsive-bg {
    padding         : 1.5rem 0;
    background-color: #07335d;
    min-height      : 100vh;
}

@media screen and (max-width: 800px) {
    .responsive-bg {
        background-color: #07335d;
    }
}

.login-container {
    display         : block;
    width           : 56rem;
    margin          : 0 auto;
    box-shadow      : 0 10px 15px -3px rgba(0, 0, 0, .2), 0 4px 6px -4px rgba(0, 0, 0, .2);
    background-color: white;
    border-radius   : .5rem;
}

@media screen and (max-width: 800px) {
    .login-container {
        max-width   : 90%;
        /* border   : 2px solid #ced6e0 */
    }
}

.flex {
    display        : flex;
    justify-content: center;
    align-items    : stretch;
}

.gap {
    gap: 1rem;
}

.col {
    flex: 1;
}

.col-one-third {
    width: 33.33%;
}

.col-two-third {
    width: 66.66%;
}


@media screen and (max-width: 800px) {
    .flex {
        display: block;
    }
}

.side-image {
    background     : url("../images/addScheme.jpg") no-repeat center center;
    background-size: contain;
    height         : 100%;
    border-radius  : 0.5rem;
}

.side-image.register-image {
    background     : url("../images/signup.jpg") no-repeat center center;
    background-size: contain;
}

@media screen and (max-width: 800px) {
    .side-image {
        display: none;
    }
}

.text-center {
    text-align: center !important;
}

.form-cont {
    padding    : 3.5rem 2rem;
    border-left: 1px solid #eff1f5;
}

@media screen and (max-width: 800px) {
    .form-cont {
        padding: 1rem;
        border : 0
    }
}

.logo {
    display: block;
    margin : 0 auto;
    height : 35px;
}

.logo img {
    display: block;
    margin : 0 auto;
    padding: 0;
    width  : auto;
    height : 100%;
}

.signin-dl {
    margin: 1rem 0;
}

.logo-btn {
    display        : inline-block;
    border-radius  : 0.25rem;
    margin         : 0 auto;
    padding        : 0.5rem 1.25rem;
    background     : #ffdb66;
    vertical-align : middle;
    text-decoration: none;
    text-align     : center;
    color          : #343741;
    font-size      : 0.875rem;
    text-transform : uppercase;
    font-family    : 'poppinsmedium';
    transition     : all 0.3s ease-in-out;
}

.logo-btn:hover {
    background: #07335d;
    color     : #fff;
}

.logo-btn span {
    display       : inline-block;
    vertical-align: middle;
}

.logo-btn img {
    display       : inline-block;
    margin        : 0 0 0 0.25rem;
    vertical-align: middle;
    height        : 30px;
}


.option-cont {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 1rem 0;
}

.option-cont * {
    flex: 1;
}

.option-cont span {
    border-bottom: 1px solid rgba(222, 228, 234, 1);
}

.option-cont p,
.option-cont a {
    display        : inline-block;
    position       : relative;
    background     : #fff;
    font-size      : .75rem;
    line-height    : 1rem;
    color          : rgba(149, 150, 153, 1);
    text-transform : uppercase;
    z-index        : 1;
    text-decoration: none;
    transition     : all 0.3s ease-in-out;
}

.option-cont a:hover {
    color: #07335d;
}

.form-group {
    text-align: left;
    margin    : 0 0 1rem;
}

.form-group label {
    display       : block;
    font-size     : .75rem;
    line-height   : 1rem;
    margin-bottom : 0.25rem;
    text-transform: uppercase;
    font-family   : 'poppinssemibold';
}

.form-group input {
    padding      : 0.5rem 1rem;
    border       : 1px solid rgba(206, 214, 224, 1);
    border-radius: 0.25rem;
    display      : block;
    width        : 100%;
    font-size    : 1rem;
    line-height  : 1.5rem;
    font-family  : 'metropolisregular';
    color        : #5a7797;
}

.form-group input:focus {
    border-color: #51708e;
}

.form-group input::placeholder {
    color  : #959699;
    opacity: 1;
}
.form-group select {
    padding      : 0.5rem 1rem;
    border       : 1px solid rgba(206, 214, 224, 1);
    border-radius: 0.25rem;
    display      : block;
    width        : 100%;
    font-size    : 1rem;
    line-height  : 1.5rem;
    font-family  : 'metropolisregular';
    color        : #5a7797;
}

.form-group select:focus {
    border-color: #51708e;
}

.form-group select::placeholder {
    color  : #959699;
    opacity: 1;
}
.link {
    font-size      : 0.75rem;
    line-height    : 1rem;
    text-transform : none;
    text-decoration: none;
    color          : #343741;
    font-family    : 'metropolisregular';
    transition     : all 0.3s ease-in-out;
    text-align     : right;
    display        : block;
}

.link:hover {
    color: #07335d;
}

.submit-btn {
    display       : block;
    margin        : 0;
    padding       : 0.75rem 2rem;
    font-size     : 1rem;
    text-transform: uppercase;
    background    : #07335d;
    width         : 100%;
    border        : 0;
    color         : #fff;
    border-radius : 0.25rem;
    line-height   : 1;
    font-family   : 'poppinsmedium';
    transition    : all 0.3s ease-in-out;
    cursor        : pointer;
}

.submit-btn:hover {
    background-color: #f25850;
}
.text-red{
    color: red !important;
  }